.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: center;

  .boxBackgroundImage {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
    background: var(--grey-50);
  }
}

.content {
  width: 100%;
  max-width: 1080px;
  margin: 64px auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  section {
    // Aqui
    max-width: 220px;
    margin: 0 40px 10px 0;
    //

    h3 {
      font-size: 2rem;
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 44px;
    }

    a {
      display: block;
      max-width: 150px;
      border: solid 1px var(--black);
      border-radius: 6px;
      text-align: center;
      padding: 12px 12px;
      background: None;

      &:hover {
        border-color: var(--green-jussi);
        color: var(--green-jussi);
      }
    }
  }

  img {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
  }
}

@media (max-width: 996px) {
  .content {
    justify-content: center;

    section {
      max-width: 620px;
      min-width: 300px;
      margin: 0 0 20px 0;
      text-align: justify;

      h3 {
        font-size: 2rem;
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 24px;
      }

      a {
        display: block;
        max-width: 150px;
        border: solid 1px var(--black);
        border-radius: 6px;
        text-align: center;
        padding: 12px 12px;
        background: None;

        &:hover {
          border-color: var(--green-jussi);
          color: var(--green-jussi);
        }
      }
    }
  }
}

@media (max-width: 906px), (max-device-width: 600px) {
  .content {
    justify-content: center;

    section {
      max-width: 600px;
      min-width: 300px;
      margin: 0 0 20px 0;

      h3 {
        font-size: 2rem;
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 24px;
      }

      a {
        display: block;
        max-width: 150px;
        border: solid 1px var(--black);
        border-radius: 6px;
        text-align: center;
        padding: 12px 12px;
        background: None;

        &:hover {
          border-color: var(--green-jussi);
          color: var(--green-jussi);
        }
      }
    }
  }
}
