.container {
  width: 100%;
  min-width: 190px;
  max-height: 281px;
  border-radius: 8px;
  background: var(--white);
  padding: 16px 10px;
  box-shadow: 0 32px 32px 0 rgb(0, 0, 0, 0.15);
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  img {
    object-fit: scale-down;
  }

  a {
    color: var(--pink-jussi);
    padding: 12px 24px;
    border: solid 1px var(--pink-jussi);
    border-radius: 24px;
    text-align: center;
    transition: background 0.3s;
    z-index: 3;
    white-space: nowrap;

    &:hover {
      color: var(--white);
      background: var(--pink-jussi);
    }
  }
}

@media (max-width: 485px) {
  .container {
    box-shadow: 0 2px 32px 0 rgb(0, 0, 0, 0.15);
  }
}
