.content {
  & > div {
    margin-bottom: 30px;
  }

  span {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--grey-50);

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.6rem;
      font-weight: normal;
      margin-left: 10px;
    }
  }

  .information {
    margin-left: 10px;
    border-radius: 100%;

    &:hover {
      cursor: help;
      p {
        display: block;
      }
    }

    p {
      display: none;
      border: solid 1px;
      position: absolute;
      padding: 10px;
      margin-right: 20px;
      border-radius: 5px;
      border-color: var(--green-jussi);
      background: var(--green-jussi);
    }
  }

  #content {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  .box {
    min-width: 100px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 4px 0 rgb(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    flex: 0 90px;

    span {
      width: 100%;
      font-size: 1rem;
      font-weight: 600;
      padding-bottom: 5px;
      border-bottom: solid 1px;
      border-color: var(--grey-500);
    }

    p {
      font-size: 1.5rem;

      &:nth-child(3) {
        width: 100%;
        padding-top: 5px;
        border-top: solid 1px;
        border-color: var(--grey-500);
        font-size: 1.2rem;
      }
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: -25px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--grey-500);

    #content {
      width: 100%;
      margin-top: 15px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      #id {
        font-size: 1.5rem;
      }
    }
  }

  #characteristics {
    #content {
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  #abilities {
    #content {
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;

      button {
        background: none;
        flex: 0 120px;
      }

      p {
        display: block;
        min-width: 80px;
        text-align: center;
        border: solid 1px var(--pink-jussi);
        color: var(--pink-jussi);
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1rem;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          background: var(--pink-jussi);
          color: var(--white);
        }
      }
    }
  }

  #experience {
    #content {
      display: flex;
      justify-content: center;
    }
  }

  #stats {
    #content {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;

      .box {
        min-height: 135px;
      }
    }
  }

  #items {
    .item {
      margin: 0 0 30px 0;

      & > span {
        display: block;
        margin-bottom: 15px;
      }

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
      }
    }
  }
}
