.container {
  max-width: 241px;
  min-width: 220px;
  height: 381px;
  border: solid 1px var(--grey-50);
  border-radius: 4px;
  padding: 16px 16px;
  margin: 5px 5px;
}

.content {
  h3 {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 50%;
    background: var(--grey-50);
    margin-bottom: 53px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  div {
    margin: 30px 0;
  }

  strong {
    font-weight: bold;
  }

  p {
    font-size: 0.75rem;
    color: var(--pink-jussi);
    margin-top: 16px;
    margin-bottom: 16px;
  }

  ul {
    margin: 0 16px;
    color: var(--grey-500);
  }

  a {
    display: block;
    text-align: center;
    width: 100%;
    // height: 48px;
    padding: 15px 12px;
    background: var(--green-jussi);
    border-radius: 6px;
    white-space: nowrap;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(80%);
    }
  }
}
