.container {
  padding-top: 5rem;
  max-width: 1440px;
  padding: 20px;
  height: calc(100vh - 7rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1080px;
}
