.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 20px;

  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1080px;

  h2 {
    font-size: 2rem;
    margin-bottom: 24px;

    span {
      color: var(--green-jussi);
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      flex: 1 1 200px;
    }
  }
}

@media (max-width: 516px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    h2 {
      margin: 0 auto;
    }
  }
}
