.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  background: var(--white);
  z-index: 2;
}

.content {
  display: flex;

  #logoJussi {
    object-fit: contain;
  }

  #menu {
    display: none;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;

      a {
        margin-left: 35px;
        white-space: nowrap;

        &:hover {
          color: var(--pink-jussi);
        }
      }

      button {
        margin-left: 35px;
        background: None;

        &:hover {
          color: var(--pink-jussi);
        }
      }
    }
  }
}

@media (max-width: 915px), (max-device-width: 700px) {
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #menu {
      display: block;
      cursor: pointer;
      z-index: 3;
      max-width: 25px;
      min-width: 25px;
    }

    nav {
      div {
        display: none;
      }
    }

    .openSidebar {
      flex-direction: column;
      z-index: 2;
      background: var(--white);
      border: solid 1px var(--grey-50);
      border-radius: 15px;
      margin-right: 20px;

      position: fixed;
      top: 55px;
      right: 0;
      max-width: 300px;
      padding: 20px 10px;
      transition: all 0.2s ease;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        gap: 20px 0;

        &:first-child {
          margin-top: 20px;
        }

        &:last-child {
          &:first-child {
            flex-direction: row;
            transform: translateY(-20px);
          }
        }

        a {
          margin-left: 0;
        }

        button {
          margin-left: 15px;
          background: None;
          position: relative;

          &:hover {
            color: var(--pink-jussi);
          }
        }
      }
    }
  }
}
