.container {
  border: solid 1px var(--grey-50);
  border-radius: 24px;
  width: 240px;
  height: 40px;

  input:focus ~ #searchResult {
    display: block;
  }
}

.content {
  display: flex;
  align-items: center;

  input {
    width: 185px;
    height: 40px;
    margin-right: 5px;
    color: var(--pink-jussi);
    margin-left: 15px;
    margin-top: 0;

    &::placeholder {
      color: var(--pink-jussi);
    }
  }
}

#searchResult {
  display: none;
  width: 240px;
  padding: 7.5px 0;
  position: absolute;
  top: 62px;
  border-radius: 15px;
  background: var(--white);
  border: solid 1px var(--grey-50);
  z-index: 1;

  &:hover {
    display: block;
  }

  .product {
    width: 100%;
    margin-left: 0;
    border: solid 1px transparent;
    border-left: none;
    border-right: none;

    display: block;

    &:hover {
      cursor: pointer;
      border: solid 1px var(--pink-jussi);
      border-left: 0;
      border-right: 0;
      color: (--pink-jussi);
    }

    width: 100%;
    padding: 10px 10px;

    // p {
    //   color: var(--grey-500);
    //   font-size: 0.875rem;
    //   margin-top: 3px;
    // }

    strong {
      font-weight: bold;
    }
  }
}

@media (max-width: 915px), (max-device-width: 700px) {
  .container {
    margin-top: 20px;
  }

  .content {
    #searchResult {
      top: 143px;
    }
  }
}
